.design {
  padding: 65px 0 70px;
  text-align: center;
  color: var(--color-main-black);
}

.design-title {
  font-size: 34px;
  font-weight: 700;
}

.design-photo {
  margin: 60px 0 0 0;
  width: 100%;
  max-width: 950px;
  height: 655px;
  object-fit: cover;
}

.design-description {
  margin: 30px 0 0 0;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
}

@media (max-width: 480px) {
  .design {
    padding: 50px 0 70px;
  }

  .design-photo {
    height: 480px;
  }

  .design-description {
    font-size: 14px;
  }
}
